<app-breadcrumb [crumbs]="breadcrumbs" />
<div class="inner-content">
  <div class="sm:flex justify-between gap-3 mb-5">
    <p class="infinity-title">Leave</p>
    <button nz-button nzType="primary" routerLink="/admin/leave/add-edit">Add New Leave</button>
  </div>

  <div class="flex flex-row justify-between gap-3 items-center">
    <!-- <div class="flex flex-col md:flex-row justify-between gap-3">
      <nz-input-group nzPrefixIcon="search" class="max-w-[300px]">
        <input nz-input [(ngModel)]="searchTerm" placeholder="Search"/>
      </nz-input-group>

      <nz-select [(ngModel)]="status" [nzPlaceHolder]="'Select Status'">
        <nz-option [nzValue]="true" nzLabel="Active"></nz-option>
        <nz-option [nzValue]="false" nzLabel="Inactive"></nz-option>
      </nz-select>

      <nz-select [(ngModel)]="depart" [nzLoading]="depLoading" [disabled]="depLoading" [nzPlaceHolder]="'Select Department'">
        @for (c of departments; track c._id) {
          <nz-option [nzLabel]="c.depName" [nzValue]="c._id"></nz-option>
        }
      </nz-select>
      <button nz-button nzType="primary" (click)="onSearch()">Search</button>
      <button nz-button nzType="dashed" (click)="onReset()">Reset
        Filters
      </button>
    </div> -->

  </div>

  @if (loading) {
  <div class="h-[400px]">
    <nz-spin class="h-full my-auto" [nzSize]="'large'" nzTip="Loading Data..."></nz-spin>
  </div>
  } @else {
  <div>
    @if (tableData && tableData.length > 0) {
    <div class="overflow-x-auto mt-4">
      <table class="min-w-full border-collapse border border-gray-300">
        <thead>
          <tr class="bg-blue-500 text-white">
            <th class="border border-gray-300 px-4 py-2 text-center">Refference No</th>
            <th class="border border-gray-300 px-4 py-2 text-center">Teacher Name</th>
            <th class="border border-gray-300 px-4 py-2 text-center">Status</th>
            <th class="border border-gray-300 px-4 py-2 text-center">Designation</th>
            <th class="border border-gray-300 px-4 py-2 text-center">Leave Category</th>
            <th class="border border-gray-300 px-4 py-2 text-center">Leave Type</th>
            <th class="border border-gray-300 px-4 py-2 text-center">From Date</th>
            <th class="border border-gray-300 px-4 py-2 text-center">To Date</th>
            <th class="border border-gray-300 px-4 py-2 text-center">Leave Days</th>
            <th class="border border-gray-300 px-4 py-2 text-center">Leave Reason</th>
            <th class="border border-gray-300 px-4 py-2 text-center">Created Date</th>
            <th class="border border-gray-300 px-4 py-2 text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData" class="hover:bg-gray-100">
            <td class="border border-gray-300 px-4 py-2 text-center">{{ item.refNo }}</td>
            <td class="border border-gray-300 px-4 py-2 text-center">
              <div class="flex items-center justify-center gap-2">
                <img nz-image class="rounded-full bg-gray-200" width="30px" height="30px" nzDisablePreview
                  [nzFallback]="fallback" [nzSrc]="item?.imageUrl" alt="" />
                <p class="emp-name text-nowrap">{{ item.teacherName | truncateText }}</p>
              </div>
            </td>
            <td class="border border-gray-300 px-4 py-2 text-center">
              <span
                [ngClass]="{
                  'bg-yellow-400 text-black': item.status === 'Pending',
                  'bg-green-500 text-white': item.status === 'Approved',
                  'bg-red-500 text-white': item.status === 'Rejected'
                }"
                class="px-2 py-1 rounded text-xs cursor-pointer"
              >
                {{ item.status }}
              </span>
            </td>
            <td class="border border-gray-300 px-4 py-2 text-center">{{ item.designation | truncateText }}</td>
            <td class="border border-gray-300 px-4 py-2 text-center">{{ item.category }}</td>
            <td class="border border-gray-300 px-4 py-2 text-center">{{ item.type }}</td>
            <td class="border border-gray-300 px-4 py-2 text-center">{{ item.fromDate | date: 'mediumDate' }}</td>
            <td class="border border-gray-300 px-4 py-2 text-center">{{ item.toDate | date: 'mediumDate' }}</td>
            <td class="border border-gray-300 px-4 py-2 text-center">{{ item.leaveDays }}</td>
            <td class="border border-gray-300 px-4 py-2 text-center">{{ item.reason }}</td>
            <td class="border border-gray-300 px-4 py-2 text-center">{{ item.createdAt | date: 'mediumDate' }}</td>
            <td class="border border-gray-300 px-4 py-2 text-center">
              <div class="flex justify-center items-center gap-2">
                <button nz-button nzType="dashed" routerLink="/admin/employees/add-edit/{{ item._id }}">
                  Edit
                </button>
                <button nz-button nzDanger nzType="primary">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    } @else if (tableData.length === 0) {
    <div class="text-center my-5">
      <div class="py-36 bg-[#FFF7F7] rounded-md border-[0.5px] border-[#BD1A43]">
        <p class="text-[#BD1A43]">No Results Available</p>
      </div>
    </div>
    }


  </div>
  }
  <div class="flex flex-row justify-end items-center">
    <nz-pagination class="mt-4 flex items-end justify-end" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
      [nzTotal]="totalRecords" (nzPageIndexChange)="onPageChange($event)">
    </nz-pagination>
  </div>


</div>