<app-breadcrumb [crumbs]="breadcrumbs"/>
<div class="inner-content">
  <div class="sm:flex justify-between gap-3 mb-5">
    <p class="infinity-title">Sections</p>
    <button nz-button nzType="primary" routerLink="/admin/departments/add-edit">Add New Sections</button>
  </div>

  <div class="flex flex-row justify-between gap-3 items-center">
    <div class="flex flex-col md:flex-row justify-between gap-3">
      <nz-input-group nzPrefixIcon="search" class="max-w-[300px]">
        <input nz-input [(ngModel)]="searchTerm" placeholder="Search"/>
      </nz-input-group>

      <nz-select [(ngModel)]="status" [nzPlaceHolder]="'Select Status'">
        <nz-option [nzValue]="true" nzLabel="Active"></nz-option>
        <nz-option [nzValue]="false" nzLabel="Inactive"></nz-option>
      </nz-select>
      <button nz-button nzType="primary" (click)="onSearch()">Search</button>
      <button nz-button nzType="dashed" (click)="onReset()">Reset
        Filters
      </button>
    </div>

  </div>

  @if (loading) {
  <div class="flex items-center justify-center h-[70vh]">
    <nz-spin [nzSize]="'large'" nzTip="Loading Data..."></nz-spin>
  </div>
  } @else {
    <div>
      @if (tableData && tableData.length > 0) {
        <nz-table #depTable class="mt-8" [nzData]="tableData" nzSize="middle" [nzOuterBordered]="true"
                  [nzScroll]="{ x: '1180px' }" nzTableLayout="fixed" [nzFrontPagination]="false">
          <thead>
          <tr class="text-left">
            <th class="infinity-thead text-left">ID</th>
            <th class="text-left">Section Name</th>
            <th class="text-left">Description</th>
            <th class="text-left">Status</th>
            <th>
              <div class="flex justify-start w-full items-center pr-2">
                <span>Created Date</span>
                @if (sortOrder === -1) {
                  <span class="cursor-pointer" (click)="sort()"><span nz-icon nzType="caret-up"
                                                                      nzTheme="outline"></span></span>
                } @else {
                  <span class="cursor-pointer" (click)="sort()"><span nz-icon nzType="caret-down"
                                                                      nzTheme="outline"></span></span>
                }
              </div>
            </th>
            <th nzWidth="200px" class="text-left">Actions</th>
          </tr>
          </thead>
          <tbody>

            @for (item of tableData; track item._id) {
              <tr class="text-left">
                <td class="clickable-field text-left">{{ item.refNo }}</td>
                <td class="text-left">{{ item.depName }}</td>
                <td class="text-left">{{ item.description ? item.description : '-' }}</td>
                <td class="text-left">
                  <nz-switch
                    [(ngModel)]="item.active"
                    [nzCheckedChildren]="checkedTemplate"
                    [nzUnCheckedChildren]="checkedTemplate"
                    (ngModelChange)="onSwitchChange($event, item)">
                  </nz-switch>
                  <ng-template #checkedTemplate>
                    @if (item.active) {
                      <span class="status-badge">Active</span>
                    } @else {
                      <span class="status-badge">Inactive</span>
                    }
                  </ng-template>
                </td>
                <td class="text-left">{{ item.createdAt | date: 'mediumDate' }}</td>
                <td class="flex justify-start gap-2 text-left">
                  <button nz-button nzType="dashed" routerLink="/admin/departments/add-edit/{{item._id}}">
                    Edit
                  </button>
                  <button nz-button nzDanger nzType="primary" (click)="showDeleteConfirm(item)">Delete</button>
                </td>
              </tr>
            }

          </tbody>

        </nz-table>
      } @else if (tableData.length === 0) {
        <div class="text-center my-5">
          <div class="py-36 bg-[#FFF7F7] rounded-md border-[0.5px] border-[#BD1A43]">
            <p class="text-[#BD1A43]">No Results Available</p>
          </div>
        </div>
      }


    </div>
  }
  <div class="flex flex-row justify-end items-center">
    <nz-pagination class="mt-4 flex items-end justify-end" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
                   [nzTotal]="totalRecords" (nzPageIndexChange)="onPageChange($event)">
    </nz-pagination>
  </div>


</div>
